:root {
  --color: #243746;
  --color-disabled: #293136;
  --color-darken: #158876;
  --color-secondary: #0e2233;
  --bg: #f3f5f4;
  --bg-secondary: #fff;
  --border-color: #ddd;
}

.dark-mode {
  --color: #ebf4f1;
  --color-disabled: #293136;
  --color-darken: #818181;
  --color-secondary: #fdf9f3;
  --bg: #091a28;
  --bg-secondary: #071521;
  --border-color: #0d2538;
}

.sepia-mode {
  --color: #433422;
  --color-disabled: #293136;
  --color-secondary: #504231;
  --bg: #f1e7d0;
  --bg-secondary: #eae0c9;
  --border-color: #ded0bf;
}

.black-mode {
  --color: #ebf4f1;
  --color-disabled: #293136;
  --color-darken: #41b38a;
  --color-secondary: #fdf9f3;
  --bg: #000;
  --bg-secondary: #071521;
  --border-color: #0d2538;
}

.helena-mode {
  --color: pink;
  --color-disabled: #293136;
  --color-darken: #41b38a;
  --color-secondary: #fdf9f3;
  --bg: green;
  --bg-secondary: #071521;
  --border-color: #0d2538;
}

// Custom styles
body {
  font-family: $font-primary;
  background-color: var(--bg);
  color: var(--color);
  font-size: 16px;
  font-weight: 200;
  transition: background-color 0.3s;
}

hr {
  border: 0;
  border-top: 1px solid #c9c9c9;
  margin: 20px 0 0px;
  width: 100%;
  height: 1px;
}

h1 {
  font-family: $font-primary;
  // font-style: italic;
  text-transform: uppercase;
  font-size: 64px;
  line-height: 72px;
  margin-bottom: 50px;
  hyphens: auto;

  &.reverse-color {
    color: var(--bg);
    text-shadow: -1px -1px 0 var(--color), 1px -1px 0 var(--color),
      -1px 1px 0 var(--color), 1px 1px 0 var(--color);
  }
}

h2 {
  font-family: $font-primary;
  font-size: 36px;
  margin-bottom: 30px;
  color: $color-grey;
}

h3 {
  font-family: $font-secondary;
  font-size: 16px;
  margin-bottom: 20px;
  font-weight: 200;
  // text-transform: uppercase;
  letter-spacing: 2px;
}

h4 {
  font-family: $font-roboto;
  font-size: 24px;
  font-weight: 300;
}

p {
  font-family: $font-secondary;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: -1px;
  margin-bottom: 30px;
}

a {
  font-family: $font-primary;
  cursor: pointer;
  text-decoration: none;

  &.link {
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    color: $color-red;
  }
}

.label {
  margin-bottom: 5px;
  font-family: $font-secondary;
  font-size: 10px;
  letter-spacing: 2px;

  &--uppercase {
    text-transform: uppercase;
  }

  &--big {
    font-size: 12px;
    letter-spacing: 2, 4px;
  }
}

textarea {
  padding: 20px;
  font-size: 14px;
  border-radius: 4px;
  transition: box-shadow 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  &:hover {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.05);
  }
  &:focus {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.05);
  }
}
